{% include "authenticate/mheader.html" %}
<form method=POST action="">
  {% csrf_token %}
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">      
                      <div class="text-center">
                        <a href="/">  
                            <img src="/static/Logo.png" style="width: 185px;" alt="Nandinis">
                        </a>                        
                        <h4 class="mt-1 mb-5 pb-1">Where sweet dreams come true!</h4>
                      </div>
                      <form>
                        <p>Please login to your account</p>
      
                        <div class="form-outline mb-4">
                          <input type="email" name="username" class="form-control"
                            placeholder="Phone number or email address" />
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" name="password" class="form-control" placeholder="Password"/>
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" style="color: black;">
                            Login
                          </button>
                          <a class="text-muted" href="#!">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?</p>
                        <a href="/members/register">
                          <button type="button" class="btn btn-outline-success">Create new</button>
                        </a>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <h3 class="mb-4" style="color: black;">Our Story</h3>
                        <br/>
                        <p class="small mb-0" style="color: black">
                          <i>
                            Welcome to our Sugar Bliss emporium, where passion meets sweetness! With a legacy of culinary excellence, we craft each delicacy with an unwavering commitment to preserving the rich flavors of India. Our artisans infuse their heart and soul into every creation, ensuring that each sweet is a masterpiece of taste and tradition. From the all-time favorites to regional specialties, our sweets are meticulously prepared using time-honored recipes and premium ingredients. Experience the love and dedication that go into our sweets - a journey of taste and passion like no other.
                          </i>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</form>

<div>
  {% for message in messages %}
 <h3>{{ message }}</h3> 
  {% endfor %}
</div>
{% include "footer.html" %}
